@model NewsPostsListViewModel

@{
    this.ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true" />

<style>
    body > div.page-container {
        padding-bottom: 5em;
    }
</style>

<div class="page-container">
    <div class="container">
        <h1>@this.ViewBag.Title</h1>

        <div class="new-discussion-div float-left">
            <a asp-action="Create" class="btn_royal_blue btn_medium">
                <span>
                    Create New
                </span>
            </a>
        </div>
        <br />
        <table class="table table-bordered table-hover table-striped mt-4">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParam">Name</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateSortParam">CreatedOn</a>
                    </th>
                    <th>
                        ModifiedOn
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.News)
                {
                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
