@model GamesListViewModel
@{
    this.ViewData["Title"] = "All Games - Page: " + Model.PageNumber;
}

<div class="container">
    <div class="nk-gap-1"></div>
    <h1>All Games</h1>

    <partial name="_PagingPartial" model="@Model" />

    <hr />


    <div class="row vertical-gap lg-gap">

        @foreach (var game in this.Model.Games)
        {

            <div class="col-md-6 col-lg-4">
                <div class="nk-image-box-3">
                    <a asp-action="ById" asp-route-id="@game.Id" class="nk-image-box-link"></a>
                    <img src="@game.ImageUrl" data-from='1.1' alt="...">
                    <div class="nk-image-box-overlay nk-image-box-bottom">
                        <div>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="nk-image-box-title h5">@game.Title</h5>
                    <span class="badge bg-dark float-right">$@game.Price</span>
                </div>
            </div>
        }

    </div>
</div>

<div class="nk-gap-1"></div>
<hr />
<partial name="_PagingPartial" model="@Model" />

