@model GamesListViewModel
@{
    this.ViewData["Title"] = "All Games - Page: " + Model.PageNumber;
}

<link href="~/css/gamestore_subs_detail.css" rel="stylesheet" asp-append-version="true">
<link href="~/css/gamestore_globalweb.css" rel="stylesheet" asp-append-version="true">
<link rel="stylesheet" href="~/assets/css/godlike.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

<div class="container">
    <h1>All Games</h1>

    <partial name="_PagingPartial" model="@Model" />

    <hr />
    <div id="tile-view" class="blockcontent resp4">
        <div id="tile-results">
            <ul id="" class="products">

                @foreach (var game in this.Model.Games)
                {
                    <li class="product">
                        <div class="tilebox-main">
                            <span class="boxshot" title="@game.Title">
                                <a class="boxhole img16x9" a asp-action="ById" asp-route-id="@game.Id" title="@game.Title"><img src="@game.ImageUrl" /></a>
                            </span>
                            <a class="atitle" asp-action="ById" asp-route-id="@game.Id">@game.Title</a>
                            <div class="tags"><span class="right"><label><span class="price"><em><i>€</i>@game.Price</em></span></label></span></div>
                            @*<div class="tags"><span class="right"><span class="costblock"><a class="btn-buy add-to-cart subtle salebadge" data-pid="" data-hov="Add" asp-controller="Cart" asp-action="Add" asp-route-id="@game.Id" rel="nofollow"><label><span class="price"><em><i>€</i>@game.Price</em></span></label><span class="hovit"></span></a></span></span></div>*@
                        </div>
                    </li>
                }
            </ul>
        </div>
        <hr />
    </div>
</div>

<partial name="_PagingPartial" model="@Model" />