@model Journey.Web.ViewModels.Games.SingleGameViewModel
@using Journey.Common
@{
    this.ViewData["Title"] = Model.Title;
}

<link href="~/css/gamestore_subs_detail.css" rel="stylesheet" asp-append-version="true">
<link href="~/css/gamestore_globalweb.css" rel="stylesheet" asp-append-version="true">

<link rel="stylesheet" href="~/assets/css/godlike.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

<div id="core-rib" class="contained">
    <section id="core-guts" class="stringy fatty">


        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <h2 id="core-guts-title">
                <span class="supported"><b><img src="/images/icon-platform-lt-win.svg" /></b></span>@Model.Title
                <a asp-controller="Games" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
            </h2>
        }
        else
        {
            <h2 id="core-guts-title">
                <span class="supported"><b><img src="/images/icon-platform-lt-win.svg" /></b></span>@Model.Title
            </h2>
        }

        <div class="rift nuts">
            <div id="detail-badge" class="boxed">

                <div class="boxhole img16x9" title="@Model.Title"><img src="@Model.MainImage" /></div>
                <div id="price-bar" class="wabit">
                    <div class="normal"><span class="price"><em><i>€</i>@Model.Price</em></span></div>
                </div>

                @if (Model.IsInUserLibrary)
                {
                    <div id="buy-bar"><a class="btn-buy return" data-pid="@Model.Id" asp-area="Profile" asp-controller="Profile" asp-action="Orders"><label><i class="fas fa-box"></i> In Collection</label><span class="hovit"></span></a></div>

                }
                else if (Model.IsInUserCart)
                {
                    <div id="buy-bar"><a class="btn-buy return" data-pid="@Model.Id" asp-controller="Cart" asp-action="Index"><label><i class="fas fa-cart-arrow-down"></i> In Cart</label><span class="hovit"></span></a></div>

                }
                else
                {
                    <div id="buy-bar"><a class="btn-buy add-to-cart" data-pid="@Model.Id" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id"><label><i class="fas fa-cart-plus"></i> Add to Cart</label><span class="hovit"></span></a></div>
                }

                @if (Model.IsInUserWishlist)
                {
                    <div id="wish-bar"><a class="btn add-to-wishlist" data-pid="@Model.Id" asp-controller="Wishlist" asp-action="Remove" asp-route-id="@Model.Id"><label><i class="fas fa-heart"></i> Remove from Wishlist</label><span class="hovit"></span></a></div>

                }
                else
                {
                    <div id="wish-bar"><a class="btn add-to-wishlist" data-pid="@Model.Id" asp-controller="Wishlist" asp-action="Add" asp-route-id="@Model.Id"><label><i class="far fa-heart"></i> Add to Wishlist</label><span class="hovit"></span></a></div>
                }

            </div>
        </div>

        <div id="detail-media" class="antiboxed raft">
            <div id="roundabout-wrap">
                <div class="lSSlideOuter">

                    <ul id="roundabout" class="lightSlider lsGrab lSSlide" style="width: 9867px; height: 421px; padding-bottom: 0%; transform: translate3d(-3036px, 0px, 0px);">


                        @if (Model.OriginalUrl == null)
                        {
                            foreach (var image in Model.Images)
                            {
                                if (image.UploadName.Contains("cover"))
                                {
                                    continue;
                                }
                                string imagePath = Url.Content("~/images/games/" + image.Id + "." + image.Extension);


                                <li class="shot lslide active" relid="@Model.Id" data-thumb="@imagePath" style="width: 749px; margin-right: 10px;"><a rel="shots" href="@imagePath" class="cboxElement"><img src="@imagePath"></a></li>
                            }
                        }

                        else
                        {
                            foreach (var image in Model.Images.Where(x => x.OriginalUrl.Contains("thumbs")))
                            {
                                <li class="shot lslide active" relid="@Model.Id" data-thumb="@image.OriginalUrl" style="width: 749px; margin-right: 10px;"><a rel="shots" href="@image.OriginalUrl" class="cboxElement"><img src="@image.OriginalUrl"></a></li>
                            }
                        }



                    </ul>
                </div>

                @*<ul class="lSPager lSGallery" style="margin-top: 5px; transition-duration: 400ms; width: 1640.67px; transform: translate3d(-189.25px, 0px, 0px);">

                        @if (Model.OriginalUrl == null)
                        {
                            foreach (var image in Model.Images)
                            {
                                <li class="lSsetCSS" style="width: 118.167px; margin-right: 8px;"><a href="#"><img src="/images/games/" + x.Images.FirstOrDefault(x=> x.UploadName.Contains("cover")).Id + "." + x.Images.FirstOrDefault().Extension)"></a></li>
                            }
                        }

                        else
                        {
                           foreach (var image in Model.Images.Where(x => x.OriginalUrl.Contains("thumbs")))
                            {
                                <li class="lSsetCSS" style="width: 118.167px; margin-right: 8px;"><a href="#"><img src="@image.OriginalUrl"></a></li>
                            }
                        }


                    </ul>*@
            </div>
        </div>


        <div class="rift nuts">

            <div id="detail-bits" class="boxed txtlinks">
                <table>
                    <tbody>
                        <tr>
                            @if (Model.ReleaseDate > DateTime.UtcNow)
                            {
                                <th>Pre-order ETA</th>
                            }
                            else
                            {
                                <th>Release Date</th>
                            }
                            <td>@Model.ReleaseDate.ToShortDateString()</td>

                        </tr>
                        <tr>
                            <th>Genre</th>
                            <td><a asp-controller="Search" asp-action="Genre" asp-route-g="@Model.GenreName">@Model.GenreName</a></td>
                        </tr>
                        <tr>
                            <th>Publisher</th>
                            <td><a asp-controller="Search" asp-action="Publisher" asp-route-p="@Model.PublisherName">@Model.PublisherName</a></td>
                        </tr>
                        <tr>
                            <th>DRM</th>
                            @if (Model.Drm.Contains("Steam"))
                            {
                                <td>@Model.Drm&nbsp;&nbsp;<img class="img-dk fadeshift" src="~/images/icon-serialfor-steam.png" width="13" height="13" title="Buyers receive a key for Steam to redeem, install &amp; play" /><img class="img-lt fadeshift" src="/images/icon-serialfor-steam-lt.png" width="13" height="13" title="Buyers receive a key for Steam to redeem, install &amp; play" /></td>
                            }
                            else if (Model.Drm.Contains("Ubisoft"))
                            {
                                <td>@Model.Drm&nbsp;&nbsp;<img class="img-dk fadeshift" src="~/images/ubisoft-logo.png" width="13" height="13" title="Buyers receive a key for the Ubisoft platform to redeem, install &amp; play" /><img class="img-lt fadeshift" src="/images/ubisoft-logo.png" width="13" height="13" title="Buyers receive a key for the Ubisoft platform to redeem, install &amp; play" /></td>
                            }
                        </tr>
                        <tr>


                            <th>
                                Languages
                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    <a asp-area="Administration" asp-controller="GameLanguages" asp-action="Index" id="editLanguageButton" class="btn btn-secondary btn-sm">Edit</a>
                                }
                            </th>
                            <td>
                                @foreach (var language in Model.Languages.OrderBy(x => x.LanguageName))
                                {
                                    @language.LanguageName
                                    <br />
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>Tags</th>
                            <td>
                                @foreach (var tag in Model.Tags)
                                {
                                    @tag.TagName
                                    <br />
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div id="detail-main" class="boxed raft">
            <h3>Description</h3>
            <div id="textinfo-section">

                @Model.Description

            </div>
        </div>

        <div id="detail-sysreqs" class="boxed raft">

            <h3 id="requirements-section">Requirements</h3><div class="section wabit">
                <table id="requiretextssingle-win" class="reqtextstable platform-win" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <thead><tr><th class="plathead" nowrap>Windows Requirements:</th></tr></thead>
                    <tbody>
                        <tr>
                            <td class="valign-t" valign="top">
                                <div class="split">
                                    <div class="side">
                                        <h6>MINIMUM:</h6>@Model.MininumRequirements
                                    </div><div class="side">
                                        <h6>RECOMMENDED:</h6>@Model.RecommendedRequirements
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                    @if (Model.Drm.Contains("Steam"))
                    {
                        <tbody><tr><td class="valign-t" valign="top"><ul><li>Requires Steam and a Steam Account to play Windows version.</li></ul></td></tr></tbody>
                    }
                    else if (Model.Drm.Contains("Ubisoft"))
                    {
                        <tbody><tr><td class="valign-t" valign="top"><ul><li>Requires a Ubisoft Account to play Windows version.</li></ul></td></tr></tbody>
                    }

                </table>
            </div><center></center>




        </div>

        <vc:same-publisher-games-list publisher-name="@Model.PublisherName" current-game="@Model.Title"></vc:same-publisher-games-list>



    </section>
</div>
