@model Journey.Web.ViewModels.Cart.CheckoutViewModel
@{
    ViewBag.Title = "Checkout";
}

<style type="text/css">
    h2 {
        margin: 1em 0 2em;
    }

    img {
        border-radius: 25%;
    }

    .large-font {
        font-size: large;
    }

    .vertical-align {
        display: flex;
        align-items: center;
    }

    .header {
        font-size: x-large;
    }

    .top-spacing {
        line-height: 2em;
        margin-top: 3.5em;
    }
</style>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Checkout", "Cart", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container large-font">
        @foreach (var item in Model.GamesInCart)
        {
            @Html.HiddenFor(m => m.GamesInCart, item)
            <div class="row vertical-align">
                <div class="col-md-1"><img src="@item.ImageUrl" alt="Game Cover of @item.Title" width="50" /></div>
                <div class="col-md-5">@item.Title</div>
                <div class="col-md-2">$@item.Price</div>
            </div>
            <hr>
        }

        <h4>Select a Payment Method</h4>
        @if (Model.CreditCards != null && Model.CreditCards.Count() > 0)
        {
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.PaymentMethodId, Model.CreditCards.Select(item => new SelectListItem
                {
                    Value = item.Id.ToString(),
                    Text = "xxxx-xxxx-xxxx-" + item.CardNumber.Substring(item.CardNumber.Length - 4, 4)
                }), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PaymentMethodId)
            </div>
            <br />
            <hr>
        }
        else
        {
            <div style="padding-left:2%">
                A payment method is required to place an order. Click <a href="@Url.Action("Index", "Manage")">here</a> to add a credit card.
            </div>
            <hr>
        }

        <div class="row">
            <div class="col-md-6 header">Cart Total:</div>
            <div class="col-md-6 header">$@Model.Total</div>
    </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-md-offset-1 header"><a href="@Url.Action("Index", "Cart")" class="btn btn-primary top-spacing"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;&nbsp;Back to Cart</a></div>

        @if (Model != null && Model.GamesInCart != null && Model.GamesInCart.Count() > 0 && Model.CreditCards != null && Model.CreditCards.Count() > 0)
        {
            <div class="col-md-5 header"><input type="submit" class="btn btn-success top-spacing" value="Place Order"></div>
        }
    </div>
}





