@model CartViewModel
@{
    this.ViewBag.Title = "Shopping Cart";
}

<link rel="stylesheet" href="~/css/gamestore_globalweb.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

<div class="container">
    <h2>Your @this.ViewBag.Title</h2>
    <br />

    @if (Model != null && Model.GamesInCart != null && Model.GamesInCart.Count() > 0)
    {
        <div class="container">
            <section id="core-guts" class="stringy fatty">
                <div id="cart-block-wrap" class="contentbox raft">
                    <table id="cart-table" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody class="boxoom">
                            @foreach (var item in Model.GamesInCart)
                            {
                                <tr class="product hovcolor">
                                    <td class="boxshot"><a class="boxhole img16x9" asp-controller="Games" asp-action="ById" asp-route-id="@item.Id" title="@item.Title"><img src="@item.ImageUrl" alt="@item.Title" /></a></td>
                                    <td class="details">
                                        <div class="product-title"><a asp-controller="Games" asp-action="ById" asp-route-id="@item.Id">@item.Title</a></div>
                                    </td>
                                    <td class="amount"><input type="hidden"><span class="price"><em><i>€</i>@item.CurrentPrice</em></span></td>
                                    <td class="remove" onclick="removeItem(@item.Id)"><a class="drop-product"><img src="/images/icon-delete-lt.png" width="14" height="14" title="Remove" /></a></td>
                                </tr>
                            }
                            <tr class="grandtotal bortop">
                                <td colspan="2" class="label" nowrap>Total<span class="currency"></span></td>
                                <td class="amount" nowrap><span class="price"><em><i>€</i>@Model.Total</em></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    }
    else
    {
        <p>Your shopping cart is empty.</p>
    }

    <div class="row">
        <div class="row"><a href="@Url.Action("All", "Games")" class="btn btn-primary" id="continue-shopping-button"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back To Shop</a></div>

        @if (Model != null && Model.GamesInCart != null && Model.GamesInCart.Count() > 0)
        {
            <div class="row"><a href="@Url.Action("ClearAll", "Cart")" class="btn btn-primary" id="clear-shopping-button">Clear Cart&nbsp;&nbsp;<i class="fas fa-trash"></i></a></div>

            <div class="row"><a href="@Url.Action("Checkout", "Cart")" class="btn btn-primary" id="checkout-shopping-button">Checkout&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></a></div>
        }
    </div>
</div>


@section Scripts {

    <script>
        function removeItem(itemId) {
            var obj = {
                gameId: itemId,
            };
            console.log(typeof itemId);
            console.log(itemId);
            console.log(JSON.stringify(obj));

                $.ajax({
                    url: `/Cart/RemoveItem?gameId=${itemId}`,
                    // url: "@Url.Action("RemoveItem")",
                    // data: JSON.stringify(obj),
                    type: "GET",
                contentType: "application/json",
                dataType: "json",
                    success: function (result) {
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                },
                });

        }


    </script>
}





