@model CartViewModel
@{
    this.ViewBag.Title = "Shopping Cart";
}

<link rel="stylesheet" href="~/css/gamestore_globalweb.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

<div class="container mb-5">
    <h2>Your @this.ViewBag.Title</h2>
    <br />

    @if (Model != null && Model.GamesInCart != null && Model.GamesInCart.Count() > 0)
    {
        <div class="container">
            <section id="core-guts" class="stringy fatty">
                <div id="cart-block-wrap" class="contentbox raft">
                    <table id="cart-table" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody class="boxoom">
                            @foreach (var item in Model.GamesInCart)
                            {
                                <tr class="product hovcolor">
                                    <td class="boxshot"><a class="boxhole img16x9" asp-controller="Games" asp-action="ById" asp-route-id="@item.Id" title="@item.Title"><img src="@item.ImageUrl" alt="@item.Title" /></a></td>
                                    <td class="details">
                                        <div class="product-title"><a asp-controller="Games" asp-action="ById" asp-route-id="@item.Id">@item.Title</a></div>
                                    </td>
                                    <td class="amount"><input type="hidden"><span class="price"><em><i>€</i>@item.CurrentPrice</em></span></td>
                                    <td class="remove" onclick="removeItem(@item.Id)"><a class="drop-product"><img src="/images/icon-delete-lt.png" width="14" height="14" title="Remove" /></a></td>
                                </tr>
                            }
                            <tr class="grandtotal bortop">
                                <td colspan="2" class="label" nowrap>Total<span class="currency"></span></td>
                                <td class="amount" nowrap><span class="price"><em><i>€</i>@Model.Total</em></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    }
    else
    {
        <p>Your shopping cart is empty.</p>
    }

    <a asp-controller="Games" asp-action="All" class="btn_darkblue_white_innerfade btn_large ml-3">
        <span>
            <i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back To Shop
        </span>
    </a>

    @if (Model != null && Model.GamesInCart != null && Model.GamesInCart.Count() > 0)
    {
        <a asp-controller="Cart" asp-action="ClearAll" class="btn_darkred_white_innerfade btn_large ml-5">
            <span>
                Clear Cart&nbsp;&nbsp;<i class="fas fa-trash"></i>
            </span>
        </a>

        <a asp-controller="Cart" asp-action="Checkout" class="btn_green_white_innerfade btn_large ml-5">
            <span>
                Checkout&nbsp;&nbsp;<i class="fas fa-chevron-right"></i>
            </span>
        </a>
    }
</div>


@section Scripts {

    <script>
        function removeItem(itemId) {
            var obj = {
                gameId: itemId,
            };
            console.log(typeof itemId);
            console.log(itemId);
            console.log(JSON.stringify(obj));

            $.ajax({
                url: `/Cart/Remove?gameId=${itemId}`,
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                },
            });
        }
    </script>
}





