@model Journey.Web.ViewModels.Games.Home.CuratedGamesViewModel

<h1 id="LatestGamesTitle">Featured</h1>
<hr />
<div id="tile-view" class="blockcontent resp4">
    <div id="tile-results">
        <ul id="latest-releases" class="products">

            @foreach (var game in this.Model.Games)
            {
                <li class="product">
                    <div class="tilebox-main">
                        <span class="boxshot" title="@game.Title">
                            <a class="boxhole img16x9" a asp-controller="Games" asp-action="ById" asp-route-id="@game.Id" title="@game.Title"><img src="@game.ImageUrl" /></a>
                        </span>
                        <a class="atitle" asp-controller="Games" asp-action="ById" asp-route-id="@game.Id">@game.Title</a>
                        <div class="tags"><span class="right"><label><span class="price"><em><i>€</i>@game.Price</em></span></label></span></div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
