@using Journey.Common
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewBag.Title - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/assets/css/godlike.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.gstatic.com" asp-append-version="true">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" asp-append-version="true">
    <link rel="stylesheet" href="~/css/gamestore_globalweb.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true" />


    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
    <link rel="manifest" href="~/images/site.webmanifest">

</head>
<body>
    <div class="page-container">
        <header>

            <nav class="navbar navbar-expand-sm navbar-dark">
                <div class="container">
                    <a class="navbar-brand mb-2 mr-2 h1 lg-view" id="journey-title" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                    <a class="navbar-brand mb-2 mr-2 h1 sm-view" id="journey-title" asp-area="" asp-controller="Home" asp-action="Index">J</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />


                        @if (this.User.Identity.IsAuthenticated && !this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <div class="nav-item">
                                <a class="nav-link text-light" id="cart-icon-main" asp-controller="Cart" asp-action="Index"><label><img src="~/images/icon-header-cart.png" />@this.Context.Session.GetString("cart")</label></a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link text-light" id="cart-icon-main" asp-controller="Wishlist" asp-action="Index"><label><i class="fas fa-heart"></i></label></a>
                            </div>
                        }

                        <div class="nk-widget">
                            <div class="container">
                                <form class="nk-form nk-form-style-1" novalidate="novalidate" asp-area="Home" asp-controller="Search" asp-action="Results" method="get">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="searchInput" placeholder="Search Games" name="s">
                                        <label for="searchInput"></label>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Store
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" asp-controller="Games" asp-action="All">All Games</a></li>

                                    <li class="dropdown-divider"></li>

                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Popular Genres</a>
                                        <ul class="dropdown-menu">

                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Genre" asp-route-genre="Action">Action</a></li>
                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Genre" asp-route-genre="Adventure">Adventure</a></li>
                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Genre" asp-route-genre="Racing">Racing</a></li>
                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Genre" asp-route-genre="Role Playing">Role Playing</a></li>
                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Genre" asp-route-genre="Simulation">Simulation</a></li>
                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Genre" asp-route-genre="Strategy">Strategy</a></li>

                                        </ul>
                                    </li>

                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Remaining Genres</a>
                                        <ul class="dropdown-menu">

                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Genre" asp-route-genre="Board & Card">Board & Card</a></li>
                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Genre" asp-route-genre="Indie">Indie</a></li>
                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Genre" asp-route-genre="Puzzle">Puzzle</a></li>
                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Genre" asp-route-genre="Shooters">Shooters</a></li>
                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Genre" asp-route-genre="Sports">Sports</a></li>
                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Genre" asp-route-genre="Virtual Reality">Virtual Reality</a></li>

                                        </ul>
                                    </li>

                                    <li class="dropdown-divider"></li>

                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Top 5 Publishers</a>
                                        <ul class="dropdown-menu">

                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Publisher" asp-route-publisher="Ubisoft">Ubisoft</a></li>
                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Publisher" asp-route-publisher="THQ Nordic">THQ Nordic</a></li>
                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Publisher" asp-route-publisher="UIG Entertainment">UIG Entertainment</a></li>
                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Publisher" asp-route-publisher="Plug In Digital">Plug In Digital</a></li>
                                            <li><a class="dropdown-item" asp-controller="Search" asp-action="Publisher" asp-route-publisher="BANDAI NAMCO Entertainment">BANDAI NAMCO</a></li>

                                        </ul>
                                    </li>

                                </ul>

                                @* @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                    {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-controller="Games" asp-action="Create">Add New Game</a>
                                    </li>
                                    }*@

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Search" asp-action="Sales">Sales</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="News" asp-action="All" asp-route-id="1">News</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Forum" asp-action="Index">Forum</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Chat" asp-action="Index">Chat</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

        </header>

        <partial name="_CookieConsentPartial" />
        <div class="container-fluid" id="container-main">
            <main role="main" class="pb-3">
                @this.RenderBody()
            </main>
        </div>
    </div>

    <footer class="footer" id="footerMain">
        <div id="footerContainer" class="container">
            &copy; @DateTime.Now.Year -
            <a asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
            <i id="gitHubLogo">
                <a id="git-hub-logo" href="https://github.com/stefandenchev">Github &nbsp;<i class="fab fa-github fa-lg"></i></a>
            </i>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src=" https://use.fontawesome.com/21cc4e21bc.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
