@using Journey.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/assets/css/godlike.css" asp-append-version="true">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />

</head>
<body>

    <header>

        <nav class="navbar navbar-expand-sm navbar-light box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand mb-0 h1" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />

                    @*search bar here*@
                    <div class="nk-widget">
                        <div class="container">
                            <form action="" class="nk-form nk-form-style-1" novalidate="novalidate">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="searchInput" placeholder="Search Games" name="s">
                                    <label for="searchInput"><i class="ion-ios-search"></i></label>
                                </div>
                            </form>
                        </div>
                    </div>

                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Store
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Games" asp-action="All">All Games</a></li>
                                <li><a class="dropdown-item" href="#">Pre-Order</a></li>

                                <li class="dropdown-divider"></li>

                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Browse Genres</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Adventure</a></li>
                                        <li><a class="dropdown-item" href="#">RPG</a></li>
                                        <li><a class="dropdown-item" href="#">Racing</a></li>
                                        <li><a class="dropdown-item" href="#">Shooter</a></li>
                                        <li><a class="dropdown-item" href="#">Strategy</a></li>
                                        <li><a class="dropdown-item" href="#">Others</a></li>

                                        @*
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                                </ul>
                                            </li>*@

                                    </ul>
                                </li>
                            </ul>

                        <li class="nav-item">

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @*@if (this.User.IsInRole())
                            {*@
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Games" asp-action="Create">Add New Game</a>
                        </li>
                        @*}*@


                    </ul>
                </div>
            </div>
        </nav>

    </header>


    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>



    <footer class="footer">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/assets/js/gamestore_globalweb.js"></script>
    <script src="~/assets/js/gamestore_subs_detail.js"></script>

    <script src=" https://use.fontawesome.com/21cc4e21bc.js"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
