@model PagingViewModel

<div class="nk-pagination nk-pagination-center">
    <a asp-action="All" asp-route-id="@Model.PreviousPageNumber" class="nk-pagination-prev @if (!Model.HasPreviousPage) { <text>disabled</text> } ">
        <span class="nk-icon-arrow-left"></span>
    </a>
    <nav>
        @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <a asp-action="All" asp-route-id="@i">@i</a>
            }
        }

        <a class="nk-pagination-current-white" href="#">@Model.PageNumber</a>

        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
        {
            if (i <= Model.PagesCount)
            {
                <a asp-action="All" asp-route-id="@i">@i</a>
            }
        }

    </nav>
    <a asp-action="All" asp-route-id="@Model.NextPageNumber" class="nk-pagination-next @if (!Model.HasNextPage) { <text>disabled</text> } ">
        <span class="nk-icon-arrow-right"></span>
    </a>
</div>