@model GenreListViewModel
@{
    this.ViewBag.Title = Model.GenreName + " Games";
    this.Layout = "/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/gamestore_subs_detail.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/gamestore_globalweb.css" asp-append-version="true">
<link rel="stylesheet" href="~/assets/css/godlike.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

<div class="container">

    <h1>@this.ViewBag.Title</h1>
    <h4>@this.Model.Games.Count() matching games</h4>

    <div class="row">
        @if (this.ViewBag.TitleSortParam.Contains("title_desc"))
        {
            <a class="btn btn-primary" id="order-button" asp-action="Genre" asp-route-sortOrder="@this.ViewBag.TitleSortParam" asp-route-genreenre="@Model.GenreName">Sort by title <i class="fas fa-arrow-down"></i></a>
        }
        else
        {
            <a class="btn btn-primary" id="order-button" asp-action="Genre" asp-route-sortOrder="@this.ViewBag.TitleSortParam" asp-route-genreenre="@Model.GenreName">Sort by title <i class="fas fa-arrow-up"></i></a>
        }

        @if (ViewBag.PriceSortParam.Contains("price_asc"))
        {
            <a class="btn btn-primary" id="order-button" asp-action="Genre" asp-route-sortOrder="@ViewBag.PriceSortParam" asp-route-genreenre="@Model.GenreName">Sort by price <i class="fas fa-arrow-up"></i></a>
        }
        else
        {
            <a class="btn btn-primary" id="order-button" asp-action="Genre" asp-route-sortOrder="@ViewBag.PriceSortParam" asp-route-genreenre="@Model.GenreName">Sort by price <i class="fas fa-arrow-down"></i></a>
        }
    </div>

    <hr />
    <div id="tile-view" class="blockcontent resp4">
        <div id="tile-results">
            <ul id="latest-releases" class="products">

                @foreach (var game in this.Model.Games)
                {
                    <li class="product">
                        <div class="tilebox-main">
                            <span class="boxshot" title="@game.Title">
                                <a class="boxhole img16x9" a asp-controller="Games" asp-action="ById" asp-route-id="@game.Id" asp-route-details="@game.GetDetails()" title="@game.Title"><img src="@game.ImageUrl" /></a>
                            </span>
                            <a class="atitle" asp-controller="Games" asp-action="ById" asp-route-id="@game.Id" asp-route-details="@game.GetDetails()">@game.Title</a>
                            @*                        <div class="tags"><span class="right"><span class="costblock"><label><span class="percentoff">-90<i>%</i></span><span class="price"><em><i>€</i>@game.Price</em></span></label></span></span></div>*@
                            @if (game.IsOnSale)
                            {
                                <span class="right"><span class="costblock"><a class="btn-buy add-to-cart"><span class="percentoff">-@game.SalePercentage<i>%</i></span><label><span class="price"><em><i>€</i>@game.CurrentPrice</em></span></label></a></span></span>
                            }
                            else
                            {
                                <span class="right"><span class="costblock"><a class="btn-buy add-to-cart"><label><span class="price"><em><i>€</i>@game.CurrentPrice</em></span></label></a></span></span>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
        
    </div>
</div>
