@model Journey.Web.ViewModels.Search.SearchListViewModel
@{
    ViewData["Title"] = "Search Results";
    this.Layout = "/Views/Shared/_Layout.cshtml";
}

<link href="~/css/gamestore_subs_detail.css" rel="stylesheet" asp-append-version="true">
<link href="~/css/gamestore_globalweb.css" rel="stylesheet" asp-append-version="true">
<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

<div class="container">

    <h1>@ViewData["Title"]</h1>
    <h4>@this.Model.Games.Count() matching games</h4>



    <hr />
    <div id="tile-view" class="blockcontent resp4">
        <div id="tile-results">
            <ul id="latest-releases" class="products">

                @foreach (var game in this.Model.Games)
                {

                    <li class="product">
                        <div class="tilebox-main">
                            <span class="boxshot" title="@game.Title">
                                <a class="boxhole img16x9" a asp-controller="Games" asp-action="ById" asp-route-id="@game.Id" title="@game.Title"><img src="@game.ImageUrl" /></a>
                            </span>
                            <a class="atitle" href="https://www.wingamestore.com/product/12085/The-Outer-Worlds-Peril-on-Gorgon-Epic/">@game.Title</a>
                            <div class="tags"><span class="right"><span class="costblock"><a class="btn-buy add-to-cart subtle salebadge" data-pid="" data-hov="Add" href="https://www.wingamestore.com/buy/12085/" rel="nofollow"><label><span class="price"><em><i>€</i>@game.Price</em></span></label><span class="hovit"></span></a></span></span></div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        
    </div>
</div>
