@model OrdersListViewModel
@{
    this.ViewBag.Title = "My Orders";
}
<style>
    hr {
        width: 82%
    }

    #view-btn > a {
        border-radius: 6px;
        background-color: #1B6EC2
    }
</style>

<div class="page-container">
    <div class="container">
        <h2>@this.ViewBag.Title</h2>
        <br />
        <h5>
            TOTAL SPENT: €@Model.Total
        </h5>
        <hr />
        @if (Model.Orders != null && Model.Orders.Count() > 0)
        {
            <div class="row">
                @if (ViewBag.DateSortParam.Contains("date_asc"))
                {
                    <a class="btn btn-primary" id="order-button" asp-action="Orders" asp-route-sortOrder="@ViewBag.DateSortParam">Sort by date-ascending <i class="fas fa-arrow-up"></i></a>
                }
                else
                {
                    <a class="btn btn-primary" id="order-button" asp-action="Orders" asp-route-sortOrder="@ViewBag.DateSortParam">Sort by date-descending <i class="fas fa-arrow-down"></i></a>
                }

                @if (ViewBag.PriceSortParam.Contains("price_asc"))
                {
                    <a class="btn btn-primary" id="order-button" asp-action="Orders" asp-route-sortOrder="@ViewBag.PriceSortParam">Sort by price-ascending <i class="fas fa-arrow-up"></i></a>
                }
                else
                {
                    <a class="btn btn-primary" id="order-button" asp-action="Orders" asp-route-sortOrder="@ViewBag.PriceSortParam">Sort by price-descending <i class="fas fa-arrow-down"></i></a>
                }
            </div>

            <hr />
            foreach (var item in Model.Orders)
            {
                <div class="row header">
                    <div class="col-md-4">OrderPlaced</div>
                    <div class="col-md-2">Games</div>
                    <div class="col-md-2">Total</div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">@item.OrderPlaced</div>
                    <div class="col-md-2">@item.ItemNumber</div>
                    <div class="col-md-2">€@item.Total</div>
                    <div class="col-md-2" id="view-btn"><a asp-controller="Cart" asp-action="ViewOrder" asp-route-id="@item.Id" class="btn btn-danger" title="View Order"><i class="far fa-list-alt"></i> VIEW ORDER</a></div>

                </div>
                <div class="row row-cols-3 w-50">
                    @foreach (var tile in item.Games)
                    {
                        <div class="col">
                            <a asp-controller="Games" asp-action="ById" asp-route-id="@tile.Id"><img src="@(tile.ImageUrl)" class="img-thumbnail" alt="Game Cover" width="120" title="To Game Page" /></a>
                        </div>
                    }
                </div>

                <hr />
            }
        }
        else
        {
            <p> You have not placed any orders yet.</p>
        }

    </div>

</div>


