@model OrdersListViewModel
@{
    this.ViewBag.Title = "My Orders";
}
<style>
    hr {
        width: 82%
    }

    #view-btn > a {
        border-radius: 6px;
        background-color: #1B6EC2
    }
</style>

<div class="page-container">
    <div class="container">
        <h2>@this.ViewBag.Title</h2>
        <br />
        <h5>
            TOTAL SPENT: €@Model.Total
        </h5>
        <hr />
        @if (Model.Orders != null && Model.Orders.Count() > 0)
        {
            <div class="row">
                @if (ViewBag.DateSortParam.Contains("date_asc"))
                {
                    <a class="btn btn-primary" id="order-button" asp-action="Orders" asp-route-sortOrder="@ViewBag.DateSortParam">Sort by date-ascending <i class="fas fa-arrow-up"></i></a>
                }
                else
                {
                    <a class="btn btn-primary" id="order-button" asp-action="Orders" asp-route-sortOrder="@ViewBag.DateSortParam">Sort by date-descending <i class="fas fa-arrow-down"></i></a>
                }

                @if (ViewBag.PriceSortParam.Contains("price_asc"))
                {
                    <a class="btn btn-primary" id="order-button" asp-action="Orders" asp-route-sortOrder="@ViewBag.PriceSortParam">Sort by price-ascending <i class="fas fa-arrow-up"></i></a>
                }
                else
                {
                    <a class="btn btn-primary" id="order-button" asp-action="Orders" asp-route-sortOrder="@ViewBag.PriceSortParam">Sort by price-descending <i class="fas fa-arrow-down"></i></a>
                }
            </div>

            <div class="row header">
                <div class="col-md-2">Date</div>
                <div class="col-md-4">Games</div>
                <div class="col-md-2">Total</div>
                <div class="col-md-2"></div>
            </div>
            <hr />
            foreach (var order in Model.Orders)
            {
                <div class="row">
                    <div class="col-md-2">@order.PurchaseDate.ToString("dd MMM, yyyy")</div>
                    <div class="col-md-4">

                        @foreach (var game in order.Games)
                        {
                            <div class="col">
                                <a asp-controller="Games" asp-action="ById" asp-route-id="@game.Id" asp-route-details="@game.GetDetails()">
                                    @*<img src="@(game.ImageUrl)" class="img-thumbnail" alt="Game Cover" width="120" title="To Game Page" />*@
                                    @game.Title
                                </a>
                            </div>
                        }

                    </div>
                    <div class="col-md-2">€@order.Total</div>
                    <div class="col-md-2" id="view-btn"><a asp-controller="Cart" asp-action="ViewOrder" asp-route-id="@order.Id" class="btn btn-danger" title="View Order"><i class="far fa-list-alt"></i> VIEW ORDER</a></div>

                </div>
                <div class="row row-cols-1 w-50">

                </div>

                <hr />
            }
        }
        else
        {
            <p> You have not placed any orders yet.</p>
        }

    </div>

</div>


