@model CategoryViewModel
@{ this.ViewBag.Title = Model.Title; }

<link href="~/css/forums.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/discussions.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/buttons.css" rel="stylesheet" asp-append-version="true" />

<div class="container">

    <h1>@Model.Title</h1>

    @if (Model.ForumPosts.Count() == 0)
    {
        <div class="alert alert-empty text-center">
            <p>There are currently no open discussions on this topic!</p>
            <p>Be the first to make one!</p>

            <a asp-controller="Posts" asp-action="Create" class="btn_darkred_white_innerfade btn_medium">
                <span>
                    Start a New Discussion
                </span>
            </a>
        </div>
    }
    else
    {
        @foreach (var post in Model.ForumPosts)
        {
            <div class="forum_topic">
                <a class="forum_topic_overlay" asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id"></a>
                <div class="forum_topic_details ">
                    <div class="forum_topic_reply_count">
                        <img src="https://community.akamai.steamstatic.com/public/images/skin_1/comment_quoteicon.png"> @post.CommentsCount
                    </div>  
                    <div class="forum_topic_reply_count mr-2">
                        <i class="fas fa-thumbs-up"></i> @post.VotesCount
                    </div>
                    <div class="forum_topic_lastpost">
                        <i class="fas fa-calendar-alt">&nbsp;</i>@post.CreatedOn
                    </div>
                </div>
                <div class="forum_topic_icon">
                    <a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">
                        <img src="https://community.akamai.steamstatic.com/public/images/skin_1/forum_topicicon_unread.png?v=1">
                    </a>
                </div>
                <div class="forum_topic_name">@post.Title</div>
                <div class="forum_topic_op"><i class="fas fa-user-edit">&nbsp;</i>@post.UserUserName</div>
            </div>
        }
        <partial name="_ForumPagingPartial" model="@Model" />
    }

</div>