@model CategoryViewModel
@{ this.ViewBag.Title = Model.Title; }

<link href="~/css/forums.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/discussions.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/buttons.css" rel="stylesheet" asp-append-version="true" />

<div class="container">

    <h1>@Model.Title</h1>


    @foreach (var post in Model.ForumPosts)
    {
        @*        <div class="media-body">
                <h4 class="media-heading"><a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">@post.Title</a></h4>
                <p>@post.ShortContent</p>
                <ul class="list-inline list-unstyled text-right">
                    <li class="list-inline-item">
                        <i class="fas fa-user-edit"></i> @post.UserUserName
                    </li>
                    <li class="list-inline-item">
                        <i class="fas fa-calendar-alt"></i> @post.CreatedOn
                    </li>
                    <li class="list-inline-item">
                        <i class="fas fa-comment-dots"></i> @post.CommentsCount comments
                    </li>
                </ul>
            </div>*@


        <div class="forum_topic">
            <a class="forum_topic_overlay" asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id"></a>
            <div class="forum_topic_details ">
                <div class="forum_topic_reply_count">
                    <img src="https://community.akamai.steamstatic.com/public/images/skin_1/comment_quoteicon.png"> @post.CommentsCount
                </div>
                <div class="forum_topic_lastpost">
                    @post.CreatedOn
                </div>
            </div>
            <div class="forum_topic_icon">
                <a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">
                    <img src="https://community.akamai.steamstatic.com/public/images/skin_1/forum_topicicon_unread.png?v=1">
                </a>
            </div>
            <div class="forum_topic_name">@post.Title</div>
            <div class="forum_topic_op">@post.UserUserName</div>
        </div>
    }

    <partial name="_ForumPagingPartial" model="@Model" />
</div>